body {
    text-align: center;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.player__turn {
    &--1 {
        color: red;
    }
    &--2 {
        color: blue;
    }
}

.winning__message {
    color: black;
}

.gameboard__grid {
    display: grid;
    grid-template: 50px 50px 50px / 50px 50px 50px;
    gap: 8px;
}

.display__cell {
    border: 2px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rematch__btn {
    display: none;
    &--active {
        display: block;
    }
}
