.player__turn {
    color: red;
}

.winning__message {
    color: blue;
}

.gameboard__grid {
    display: grid;
    grid-template: 50px 50px 50px / 50px 50px 50px;
    gap: 8px;
}

.display__cell {
    border: 2px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
